@{title('New Hire Form')}
@{meta('New Form', 'Your page description', 'Your page keywords')}
<h1>@{title}</h1>
<p><a href="/all">See All</a> </p> 
<form action="/" method="POST" id="form-id">
    <input type="date" name="date" placeholder="Start Date"/><br>
    @{text('eName',{placeholder:'Employee Name'})}<br>
    @{text('mang',{placeholder:'Manager'})}<br>
    @{text('dept',{placeholder:'Department'})}<br>
    @{text('title',{placeholder:'Title'})}<br>
    @{text('loc',{placeholder:'Location'})}<br>
    @{text('device',{placeholder:'Desktop or Laptop?'})}<br>
    @{text('OS',{placeholder:'Windows or Mac?'})}<br>
    @{text('eDeptShare',{placeholder:'Department share to replicate'})}<br>
    @{text('rlmrep',{placeholder:'rlm to replicate'})}<br>
     <!--@{radio('device','desktop', 'Desktop')}<br>
    @{radio('device','laptop', 'Laptop')}<br>
   RLM @{radio('getrlm','no',{label:'No'})} @{radio('getrlm','yes', {label:'Yes'})} <br>
    <div class="rlmStuff">
        @{text('rlmrep',{placeholder:'rlm to replicate'})}<br>
    </div>-->
    <input type="submit">
</form>
<script>
    $('#form-id').change(function() {
        if ($('#watch-me').attr('checked')) {
            $('#show-me').show();
        } else {
            $('#show-me').hide();
        }
    });
</script>
<div class='output'>
    
</div>